html {
    background: #f3fbff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*overflow-y:hidden;*/
    overflow-x: hidden;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: #9d88fc;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-footer {
    padding: 5px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    /*margin: 5px;*/
}

.brand {
    position: relative;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
    cursor: pointer;
}

.brand:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: width 0.3s ease-out;
}

.brand:hover:after,
.brand:focus:after {
    width: 100%;
}

.menu-footer {
    list-style-type: none;
    text-align: left;
    margin: 0;
}

.link-footer {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;

}

.link-footer:hover {
    text-decoration: underline;
}

.menu-language {
    margin: 10px;
}

.social-network {
    margin: 5px 10px;
}

.card-question {
    background: #ffffff;
    margin: 10px;
    max-width: 700px;
    min-height: 160px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.card-question:first-child {
    margin-top: 10px;
}

.btn-ticket {
    max-width: 200px;
}

.img-main {
    float: left;
    display: block;
}

.img2-main {
    display: block;
    float: right;
}

.info-main-theme {
    min-width: 700px;
    height: auto;
    margin-bottom: 100px;
}

.container-info-main-theme{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    /*width: 6em*/
}
